<footer>
  <div class="footer__container" style="z-index: 1000;">
    <div class="container">
      <div class="footer__wrapper">

        <div class="footer__inner">
          <div class="footer__item footer__item-1">
          <h5 class="footer__item-title">{{ text_about }}</h5>
          <a class="footer__item-link" href="index.php?route=information/ourstore">{{ text_our_history }}</a>
          <a class="footer__item-link" href="index.php?route=information/shops">{{ text_shops }}</a>
          <a class="footer__item-link" href="index.php?route=information/vacancypage">{{ text_vacation }}</a>
          <a class="footer__item-link" href="index.php?route=product/manufacturer">{{ text_partners }}</a>
        </div>

        <div class="footer__item footer__item-2">
          <h5 class="footer__item-title">{{ text_buyer }}</h5>
          <a class="footer__item-link" href="index.php?route=information/infoaboutdelivery">{{ text_shipping_and_payment }}</a>
          <a class="footer__item-link" href="index.php?route=information/faq">{{ text_questions_and_answers }}</a>
        </div>
        </div>

        <div class="footer__item footer__item-3">
          <div class="footer__item-link-box">
            <a class="footer__item-link social-link" href="#"><img src="/image/halkmarket/footer/footer-logo-1.png" alt=""></a>
            <a class="footer__item-link social-link" href="#"><img src="/image/halkmarket/footer/footer-logo-2.png" alt=""></a>
          </div>
          <p class="footer__item-text service-text">
            {{ text_have_question }}
{#            <a class="footer__item-text-link" href="{{ contact }}">{{ text_feedback }}</a>#}
            <a class="footer__item-text-link popup-with-form" href="#form-popup">{{ text_feedback }}</a>
          </p>
        </div>
      </div>
    </div>

      <div class="footer__copy">
        <div class="footer__copy-box">
          <p class="footer__copy-text">
            © Copyright 2020. All rights reserved.
          </p>
        </div>
      </div>

    <div id="form-popup" class="popup-box mfp-hide">
      <form action="#" class="popup__form">
        <svg xmlns="http://www.w3.org/2000/svg" class="textarea__mess-icon">
          <use xlink:href="/img/icon/sprite.svg#MessageTextarea"></use>
        </svg>
        <a class="close__btn" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" class="close__btn">
            <use xlink:href="/img/icon/sprite.svg#CloseBtn"></use>
          </svg>
        </a>
        <h3 class="popup__form-message">Есть вопрос или пожелание? Напишите нам об этом:</h3>
        <div class="message__box">
          <textarea name="enquiry" id="input-enquiry" class="inputbox"></textarea>
        </div>
        <div class="popup__form-btn">
          <input type="submit" value="Отправить">
        </div>
      </form>

    </div>

</footer>

<link href="catalog/view/javascript/jquery/magnific/magnific-popup.css" type="text/css" rel="stylesheet" media="screen" />
<script src="catalog/view/javascript/jquery/magnific/jquery.magnific-popup.min.js"></script>

<script>
  $('.popup-with-form').magnificPopup({
    type: 'inline',
    focus: '#message',
    // type: 'ajax',
    midClick: true,
    closeOnBgClick: false
  });

  $(document).on('click', '.close__btn', function(e) {
    e.preventDefault();
    $.magnificPopup.close();
  });
</script>


</body>

</html>