<footer>
  <div class="footer__container">
    <div class="container">
      <div class="footer__wrapper">

        <div class="footer__inner">
          <div class="footer__item footer__item-1">
          <h5 class="footer__item-title">{{ text_about }}</h5>
          <a class="footer__item-link" href="index.php?route=information/ourstore">{{ text_our_history }}</a>
          <a class="footer__item-link" href="index.php?route=information/shops">{{ text_shops }}</a>
          <a class="footer__item-link" href="index.php?route=information/vacancypage">{{ text_vacation }}</a>
          <a class="footer__item-link" href="#">{{ text_partners }}</a>
        </div>

        <div class="footer__item footer__item-2">
          <h5 class="footer__item-title">{{ text_buyer }}</h5>
          <a class="footer__item-link" href="#">{{ text_shipping_and_payment }}</a>
          <a class="footer__item-link" href="#">{{ text_questions_and_answers }}</a>
        </div>
        </div>

        <div class="footer__item footer__item-3">
          <div class="footer__item-link-box">
            <a class="footer__item-link social-link" href="#"><img src="/image/halkmarket/footer/footer-logo-1.png" alt=""></a>
            <a class="footer__item-link social-link" href="#"><img src="/image/halkmarket/footer/footer-logo-2.png" alt=""></a>
          </div>
          <p class="footer__item-text service-text">
            {{ text_have_question }} <a class="footer__item-text-link" href="{{ contact }}">{{ text_feedback }}</a>
          </p>
        </div>
      </div>
    </div>

      <div class="footer__copy">
        <div class="footer__copy-box">
          <p class="footer__copy-text">
            © Copyright 2020. All rights reserved.
          </p>
        </div>
      </div>

</footer>


</body>

</html>