<footer>
  <div class="footer__container" style="z-index: 1000;">
    <div class="container">
      <div class="footer__wrapper">

        <div class="footer__inner">
          <div class="footer__item footer__item-1">
          <h5 class="footer__item-title">{{ text_about }}</h5>
          <a class="footer__item-link" href="index.php?route=information/ourstore">{{ text_our_history }}</a>
          <a class="footer__item-link" href="index.php?route=information/shops">{{ text_shops }}</a>
          <a class="footer__item-link" href="index.php?route=information/vacancypage">{{ text_vacation }}</a>
          <a class="footer__item-link" href="index.php?route=product/manufacturer">{{ text_partners }}</a>
        </div>

        <div class="footer__item footer__item-2">
          <h5 class="footer__item-title">{{ text_buyer }}</h5>
          <a class="footer__item-link" href="index.php?route=information/infoaboutdelivery">{{ text_shipping_and_payment }}</a>
          <a class="footer__item-link" href="index.php?route=information/faq">{{ text_questions_and_answers }}</a>
        </div>
        </div>

        <div class="footer__item footer__item-3">
          <div class="footer__item-link-box">
            <a class="footer__item-link social-link" href="#"><img src="/image/halkmarket/footer/footer-logo-1.png" alt=""></a>
            <a class="footer__item-link social-link" href="#"><img src="/image/halkmarket/footer/footer-logo-2.png" alt=""></a>
          </div>

          <p class="footer__item-text service-text">
            {{ text_have_question }}
            <a href="#form-popup" class="footer__item-text-link popup-with-form">{{ text_feedback }}</a>
          </p>

        </div>
      </div>
    </div>

      <div class="footer__copy">
        <div class="footer__copy-box">
          <p class="footer__copy-text">
            © Copyright {{ powered }}. All rights reserved.
          </p>
        </div>
      </div>

    <div id="form-popup" class="popup-box mfp-hide">

      <form class="popup__form" enctype="multipart/form-data" method="post" id="formPopup" onsubmit="send(event, 'send-footer-form.php')">

        <a class="close__btn" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" class="close__btn">
            <use xlink:href="/img/icon/sprite.svg#CloseBtn"></use>
          </svg>
        </a>
        <h3 class="popup__form-message">{{ popup__form-title }}</h3>
        <div class="sendMsg" onclick="gsapMsg.reverse()"></div>
        <div class="message__box">
          <svg xmlns="http://www.w3.org/2000/svg" class="textarea__mess-icon">
            <use xlink:href="/img/icon/sprite.svg#MessageTextarea"></use>
          </svg>
          <textarea name="message" id="message" class="inputbox" required></textarea>
        </div>
        <div class="popup__btn-box">
          <button class="popup__form-btn" type="submit" value="Отправить">Отправить</button>
        </div>
      </form>


    </div>

</footer>

<link href="catalog/view/javascript/jquery/magnific/magnific-popup.css" type="text/css" rel="stylesheet" media="screen" />
<script src="catalog/view/javascript/jquery/magnific/jquery.magnific-popup.min.js"></script>
<script src="catalog/view/javascript/gsap.min.js"></script>

<script>
  $('.popup-with-form').magnificPopup({
    type: 'inline',
    focus: '#message',
    // type: 'ajax',
    mainClass: 'mfp-fade',
    midClick: true,
    closeOnBgClick: false
  });

  $(document).on('click', '.close__btn', function(e) {
    e.preventDefault();
    $.magnificPopup.close();
  });
</script>

<script>
  // Объявления
  let sendMsg = document.querySelector(".sendMsg");
  let gsapMsg = gsap.to(".sendMsg", 0.25, {autoAlpha: 1,y: -40,ease: Expo.inOut, paused: true});
  let arrInput = document.querySelectorAll('.aInput');

  // Функция отправки сообщения
  function send(event, php){
    event.preventDefault ? event.preventDefault() : event.returnValue = false;
    for (let i = 0,count=arrInput.length; i<count; i++) {arrInput[i].classList.remove("errorInput");}
    event.target.querySelector("button").disabled = true;
    showMsg("Подождите. Идёт отправка сообщения", "#b1b1b1");
    let req = new XMLHttpRequest();
    req.open('POST', php, true);
    req.onload = function() {
      event.target.querySelector("button").disabled = false;

      if (req.status >= 200 && req.status < 400) {
        json = JSON.parse(this.response);
        console.log(json);

        // ЗДЕСЬ УКАЗЫВАЕМ ДЕЙСТВИЯ В СЛУЧАЕ УСПЕХА ИЛИ НЕУДАЧИ
        if (json.result == "success") {
          // если сообщение отправлено
          showMsg("Сообщение успешно отправлено", "#3B245A");
          console.log("Сообщение отправлено");
          event.target.reset();
        }
        else {
          // Если произошла ошибка
          showMsg("Ошибка. Сообщение не отправлено", "#DC352F");
          console.log("Ошибка. Сообщение не отправлено");
        }

        // Если не удалось связаться с php файлом
      } else {showMsg("Ошибка сервера. Номер: "+req.status, "#DC352F");}};

// Если не удалось отправить запрос. Стоит блок на хостинге
    req.onerror = function() {showMsg("Ошибка отправки запроса", "#DC352F");};
    req.send(new FormData(event.target));
  }

  // Функция появления статуса отправки сообщения
  function showMsg(message, color) {
    sendMsg.innerText = message;
    sendMsg.style.background = color;
    gsapMsg.restart();
  }

</script>


</body>

</html>