<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    {% if robots %}
        <meta name="robots" content="{{ robots }}"/>
    {% endif %}
    <base href="{{ base }}" />
    {% if description %}
        <meta name="description" content="{{ description }}" />
    {% endif %}
    {% if keywords %}
        <meta name="keywords" content="{{ keywords }}" />
    {% endif %}
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ og_url }}" />
    {% if og_image %}
        <meta property="og:image" content="{{ og_image }}" />
    {% else %}
        <meta property="og:image" content="{{ logo }}" />
    {% endif %}
    <meta property="og:site_name" content="{{ name }}" />
    <link href="catalog/view/theme/default/stylesheet/fonts.css" rel="stylesheet">
    <link href="catalog/view/theme/default/stylesheet/global.css" rel="stylesheet">
    <link href="catalog/view/theme/default/stylesheet/media.css" rel="stylesheet">

    {% for style in styles %}
        <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
    {% endfor %}
    {% for link in links %}
        <link href="{{ link.href }}" rel="{{ link.rel }}" />
    {% endfor %}
    {% for analytic in analytics %}
        {{ analytic }}
    {% endfor %}

</head>

<body>

    <header>

        <nav id="top">
            <div class="header__top">
                <div class="container__page">
                    <div class="header__top-inner">
                        <div class="header__top-tel">
                           <a class="header__top-tel__link" href="tel:+99312351212">
                               <svg xmlns="http://www.w3.org/2000/svg" class="tel__icon">
                                   <use xlink:href="/img/icon/sprite.svg#TelephoneIcon"></use>
                               </svg>
                           </a>
                        </div>
                        <div class="header__top-inner-items">
                            <div class="header__bottom-discount">
                                <svg xmlns="http://www.w3.org/2000/svg" class="percent__icon">
                                    <use xlink:href="/img/icon/sprite.svg#PercentIcon"></use>
                                </svg>
                                <a class="header__bottom-discount-link" href="/index.php?route=product/special">{{ text_discount }}</a>
                            </div>
                            <div class="header__bottom-account">
                                <a class="header__bottom-account-link" href="/index.php?route=account/login">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="login__icon-white">
                                        <use xlink:href="/img/icon/sprite.svg#LoginIcon"></use>
                                    </svg>
                                    {{ text_account_come }}
                                    <span class="account-caret"></span>
                                </a>
                            </div>
                        </div>
                        <div class="login__language">
                            {{ language }}
                        </div>

                    </div>
                </div>
            </div>
        </nav>

        <div class="header__bottom header__wrapper">
            <div class="container__page">
                <div class="header__bottom-wrapper">

                    <div id="logo" class="header__bottom-logo header__logo-hide">
                        <a href="#">
                    {% if logo %}
                    {% if home == og_url %}
                        <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}"/>
                    {% else %}
                    <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}"/></a> {% endif %} {% else %}
                        <h1><a href="{{ home }}">{{ name }}</a></h1>
                        {% endif %}
                        </a>
                    </div>

                    <div class="header__bottom-catalog header__catalog-hide">
                        <div class="catalog-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" class="burger__icon">
                                <use xlink:href="/img/icon/sprite.svg#CategoryBurger"></use>
                            </svg>
                            <span>{{ text_catalog_btn }}</span>
                            <div class="menu__catalog-box">
                                {{ menucatalog }}
                            </div>
                        </div>


                    </div>

                    {{ search }}

                    <div class="header__bottom-inner">
                        <div class="header__bottom-discount">
                            <svg xmlns="http://www.w3.org/2000/svg" class="percent__icon">
                                <use xlink:href="/img/icon/sprite.svg#PercentIcon"></use>
                            </svg>
                            <a class="header__bottom-discount-link" href="/index.php?route=product/special">{{ text_discount }}</a>
                        </div>
                        <div class="header__bottom-account">
                            <a class="header__bottom-account-link" href="/index.php?route=account/login">
                                <svg xmlns="http://www.w3.org/2000/svg" class="login__icon">
                                    <use xlink:href="/img/icon/sprite.svg#LoginIcon"></use>
                                </svg>
                                {{ text_account_come }}
                            </a>
                        </div>

                        <div class="header__bottom-cut">
                            <a class="header__bottom-cut-link" href="{{ shopping_cart }}" title="{{ text_shopping_cart }}">
                                <span class="header__bottom-cut-num" id="text_count_cart">{{ text_count_cart }}</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="cart__icon">
                                    <use xlink:href="/img/icon/sprite.svg#CartIcon"></use>
                                </svg>
                                {{ text_shopping_cart }}
                            </a>
                        </div>
                        <div class="header__bottom-favorites">
                            <a class="header__bottom-favorites-link" href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}">
                                <svg xmlns="http://www.w3.org/2000/svg" class="favorite__icon">
                                    <use xlink:href="/img/icon/sprite.svg#FavoriteIcon"></use>
                                </svg>
                                <span class="hidden-xs hidden-sm hidden-md header__bottom-favorites-num">{{ text_wishlist }}</span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="header__bottom header__wrapper-mobile">
            <div class="container__page">
                <div class="header__bottom-wrapper">

                    <div class="header__bottom-mobile-box">
                        <div id="logo" class="header__bottom-logo">
                            <a href="#">
                                {% if logo %}
                                    {% if home == og_url %}
                                        <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}"/>
                                    {% else %}
                                        <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}"/></a> {% endif %} {% else %}
                                    <h1><a href="{{ home }}">{{ name }}</a></h1>
                                {% endif %}
                            </a>
                        </div>

                        <div class="header__bottom-mobile-items">
                            <div class="header__bottom-cut-mobile">
                                <a class="header__bottom-cut-link" href="index.php?route=checkout/cart">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="cart__icon">
                                        <use xlink:href="/img/icon/sprite.svg#CartIcon"></use>
                                    </svg>
                                    {{ text_shopping_cart }}
                                    <span class="header__bottom-cut-num">10</span>
                                </a>

                            </div>

                            <div class="header__bottom-favorites-mobile">
                                <a class="header__bottom-favorites-link" href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="favorite__icon">
                                        <use xlink:href="/img/icon/sprite.svg#FavoriteIcon"></use>
                                    </svg>
                                    <span class="header__bottom-favorites-num">12</span>
                                </a>
                            </div>

                            <div class="header__bottom-catalog">
                                <div id="headerBottomCatalog" class="catalog-btn catalog-btn__mobile">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="burger-black__icon">
                                        <use xlink:href="/img/icon/sprite.svg#CategoryBurger"></use>
                                    </svg>
                                    <span>{{ text_catalog_btn }}</span>
                                    <div class="menu__catalog-box">
                                        {{ menucatalog }}
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

{#                    {{ search }}#}

                </div>
            </div>
        </div>

    </header>




    <script>

     let myAccordion = document.getElementsByClassName('catalog__acordion');
     for (let i = 0; i < myAccordion.length; i++) {
         myAccordion[i].addEventListener('click', function () {
             this.classList.toggle('active-click')
         });
     }
         $(function() {
             $('.header__top-close-mobile-btn').click(function () {
                 $('.catalog__title').toggleClass('toggle');
             });
         });
         $(function() {
             $('.catalog-btn__mobile').click(function () {
                 $('.catalog__container-mobile').addClass('active');
             });
         });

    </script>

{#    <script>#}
{#        document.getElementById('headerBottomCatalog').onclick = function() {#}
{#            document.getElementById('menucatalog').classList.toggle('open');#}
{#        }#}
{#    </script>#}

{#    <script>#}
{#        $(document).ready(function(){#}
{#            $('.catalog-btn__mobile').click(function(){#}
{#                $('.catalog__container-mobile').toggleClass('active');#}
{#            });#}
{#        });#}
{#    </script>#}






