{{ header }}
<!-- <div id="common-home" class="container"> -->
<div class="row">

    {{ column_left }} {% if column_left and column_right %} {% set class = 'col-sm-6' %} {% elseif column_left or column_right %} {% set class = 'col-sm-9' %} {% else %} {% set class = 'col-sm-12' %} {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}{{ content_bottom }}</div> {{ column_right }}
</div>


<!-- </div> -->

<section class="advantages">
    <div class="container__page-grey">
        <div class="container">
            <div class="advantages__wrapper">

                <div class="advantages__item advantages__item-1">
                    <h4 class="advantages__item-title">И все на каждый день</h4>
                    <p class="advantages__item-text">
                        Выбирайте из 40 000 товаров: у нас есть фрукты и овощи, мясо и рыба, все для дома и товары для животных
                    </p>
                </div>

                <div class="advantages__item advantages__item-2">
                    <h4 class="advantages__item-title">И свежесть и качество</h4>
                    <p class="advantages__item-text">
                        Будьте уверены: мы тщательно следим за свежестью и качеством продуктов на складе и на всех этапах доставки
                    </p>
                </div>

                <div class="advantages__item advantages__item-3">
                    <h4 class="advantages__item-title">И WOW-удобно</h4>
                    <p class="advantages__item-text">
                        Планируйте и экономьте время: оформляйте и получайте заказы где и когда удобно
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>


{{ menu }}


<div class="featured">
    <div class="container">
        <div class="featured__container">
            <div class="featured__wrapper">

            <div class="featured__info-box">
                <h4 class="featured__info-box-title">Наши спецпредложения</h4>
                <a class="featured__info-box-link" href="#">Показать все</a>
                <div class="featured__info-box-img"><img src="/image/halkmarket/slider/feautered-icon.png" alt=""></div>
            </div>
            <div class="featured__slider-inner">

                <div class="featured__slider">
    
                    <div class="featured__item">
                        <a href="#">
                            <div class="featured__item-img" style="background-image: url('image/halkmarket/slider/featured-item-1.jpg');">
                        </div>
                        </a>
                        
                        <div class="featured__item-star">
                            <div class="rating home__rating">                            
                                    {% for i in 1..5 %}
                                    {% if rating < i %}
                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                    {% else %}
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                    {% endif %}
                                    {% endfor %} 
                                    <a class="rating__rew-num-link" href="#" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ reviews }}13</a>                                
                                
                            </div>
                        </div>
                        <a href="#">
                            <div class="featured__item-title"><h4 class="featured__item-title-text">Холодный чай черный Lipton Лимон 1 л</h4></div>
                        </a>
                        
                        <div class="featured__item-box">
                            <div class="featured__item-box-price">
                                <div class="featured__item-box-old">18.60 TMT</div>
                                <div class="featured__item-box-new">12.00 TMT</div>
                            </div>
                                <button type="button" id="button-cart" data-loading-text="Загрузка..." class="btn btn-primary btn-lg btn-block item__btn">
                                </button>
                        </div>
                    </div>  

                    <div class="featured__item">
                        <a href="#">
                            <div class="featured__item-img" style="background-image: url('image/halkmarket/slider/featured-item-1.jpg');">
                        </div>
                        </a>
                        
                        <div class="featured__item-star">
                            <div class="rating home__rating">                            
                                    {% for i in 1..5 %}
                                    {% if rating < i %}
                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                    {% else %}
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                    {% endif %}
                                    {% endfor %} 
                                    <a class="rating__rew-num-link" href="#" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ reviews }}13</a>                                
                                
                            </div>
                        </div>
                        <a href="#">
                            <div class="featured__item-title"><h4 class="featured__item-title-text">Холодный чай черный Lipton Лимон 1 л</h4></div>
                        </a>
                        
                        <div class="featured__item-box">
                            <div class="featured__item-box-price">
                                <div class="featured__item-box-old">18.60 TMT</div>
                                <div class="featured__item-box-new">12.00 TMT</div>
                            </div>
                                <button type="button" id="button-cart" data-loading-text="Загрузка..." class="btn btn-primary btn-lg btn-block item__btn">
                                </button>
                        </div>
                    </div> 

                    <div class="featured__item">
                        <a href="#">
                            <div class="featured__item-img" style="background-image: url('image/halkmarket/slider/featured-item-1.jpg');">
                        </div>
                        </a>
                        
                        <div class="featured__item-star">
                            <div class="rating home__rating">                            
                                    {% for i in 1..5 %}
                                    {% if rating < i %}
                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                    {% else %}
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                    {% endif %}
                                    {% endfor %} 
                                    <a class="rating__rew-num-link" href="#" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ reviews }}13</a>                                
                                
                            </div>
                        </div>
                        <a href="#">
                            <div class="featured__item-title"><h4 class="featured__item-title-text">Холодный чай черный Lipton Лимон 1 л</h4></div>
                        </a>
                        
                        <div class="featured__item-box">
                            <div class="featured__item-box-price">
                                <div class="featured__item-box-old">18.60 TMT</div>
                                <div class="featured__item-box-new">12.00 TMT</div>
                            </div>
                                <button type="button" id="button-cart" data-loading-text="Загрузка..." class="btn btn-primary btn-lg btn-block item__btn">
                                </button>
                        </div>
                    </div> 

                    <div class="featured__item">
                        <a href="#">
                            <div class="featured__item-img" style="background-image: url('image/halkmarket/slider/featured-item-1.jpg');">
                        </div>
                        </a>
                        
                        <div class="featured__item-star">
                            <div class="rating home__rating">                            
                                    {% for i in 1..5 %}
                                    {% if rating < i %}
                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                    {% else %}
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                    {% endif %}
                                    {% endfor %} 
                                    <a class="rating__rew-num-link" href="#" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ reviews }}13</a>                                
                                
                            </div>
                        </div>
                        <a href="#">
                            <div class="featured__item-title"><h4 class="featured__item-title-text">Холодный чай черный Lipton Лимон 1 л</h4></div>
                        </a>
                        
                        <div class="featured__item-box">
                            <div class="featured__item-box-price">
                                <div class="featured__item-box-old">18.60 TMT</div>
                                <div class="featured__item-box-new">12.00 TMT</div>
                            </div>
                                <button type="button" id="button-cart" data-loading-text="Загрузка..." class="btn btn-primary btn-lg btn-block item__btn">
                                </button>
                        </div>
                    </div> 

                    <div class="featured__item">
                        <a href="#">
                            <div class="featured__item-img" style="background-image: url('image/halkmarket/slider/featured-item-1.jpg');">
                        </div>
                        </a>
                        
                        <div class="featured__item-star">
                            <div class="rating home__rating">                            
                                    {% for i in 1..5 %}
                                    {% if rating < i %}
                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                    {% else %}
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                    {% endif %}
                                    {% endfor %} 
                                    <a class="rating__rew-num-link" href="#" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ reviews }}13</a>                                
                                
                            </div>
                        </div>
                        <a href="#">
                            <div class="featured__item-title"><h4 class="featured__item-title-text">Холодный чай черный Lipton Лимон 1 л</h4></div>
                        </a>
                        
                        <div class="featured__item-box">
                            <div class="featured__item-box-price">
                                <div class="featured__item-box-old">18.60 TMT</div>
                                <div class="featured__item-box-new">12.00 TMT</div>
                            </div>
                                <button type="button" id="button-cart" data-loading-text="Загрузка..." class="btn btn-primary btn-lg btn-block item__btn">
                                </button>
                        </div>
                    </div> 

                    <div class="featured__item">
                        <a href="#">
                            <div class="featured__item-img" style="background-image: url('image/halkmarket/slider/featured-item-1.jpg');">
                        </div>
                        </a>
                        
                        <div class="featured__item-star">
                            <div class="rating home__rating">                            
                                    {% for i in 1..5 %}
                                    {% if rating < i %}
                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                    {% else %}
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                    {% endif %}
                                    {% endfor %} 
                                    <a class="rating__rew-num-link" href="#" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ reviews }}13</a>                                
                                
                            </div>
                        </div>
                        <a href="#">
                            <div class="featured__item-title"><h4 class="featured__item-title-text">Холодный чай черный Lipton Лимон 1 л</h4></div>
                        </a>
                        
                        <div class="featured__item-box">
                            <div class="featured__item-box-price">
                                <div class="featured__item-box-old">18.60 TMT</div>
                                <div class="featured__item-box-new">12.00 TMT</div>
                            </div>
                                <button type="button" id="button-cart" data-loading-text="Загрузка..." class="btn btn-primary btn-lg btn-block item__btn">
                                </button>
                        </div>
                    </div> 

                 </div>

            </div>
        
            </div> 
        </div>
    </div>
  </div>


<section class="banner1">
    <div class="container__page-grey banner1__container">
        <div class="container">
            <a class="banner1__box" href="#">
                <div class="banner1__box-item banner1__item">
                    <h4 class="banner1__box-item-title1">Баннер для рекламы</h4>
                    <h4 class="banner1__box-item-title2">Баннер для рекламы</h4>
                </div>
            </a>
        </div>
    </div>
</section>

<div class="choice">
    <div class="container choice__container">
      <div class="choice__wrapper">
        <div class="choice__info-box">
          <h4 class="choice__info-box-title">Выбор Покупателей</h4>
          <a class="choice__info-box-link" href="#">Показать все</a>
          <div class="choice__info-box-img"><img src="/image/halkmarket/slider/choice-icon.png" alt=""></div>
        </div>
        <div class="choice__slider-inner">

            <div class="choice__slider">
  
                <div class="choice__item">
                    <a href="#">
                        <div class="choice__item-img" style="background-image: url('image/halkmarket/slider/choice-item-1.jpg');">
                    </div>
                    </a>
                    
                    <div class="choice__item-star">
                        <div class="rating home__rating">                            
                                {% for i in 1..5 %}
                                {% if rating < i %}
                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                {% else %}
                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                {% endif %}
                                {% endfor %} 
                                <a class="rating__rew-num-link" href="#" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ reviews }}13</a>                                
                            
                        </div>
                    </div>
                    <a href="#">
                        <div class="choice__item-title"><h4 class="choice__item-title-text">Холодный чай черный Lipton Лимон 1 л</h4></div>
                    </a>
                    
                    <div class="choice__item-box">
                        <div class="choice__item-box-price">
                            <div class="choice__item-box-old">18.60 TMT</div>
                            <div class="choice__item-box-new">12.00 TMT</div>
                        </div>
                            <button type="button" id="button-cart" data-loading-text="Загрузка..." class="btn btn-primary btn-lg btn-block item__btn">
                            </button>
                    </div>
                </div>  

                <div class="choice__item">
                    <a href="#">
                        <div class="choice__item-img" style="background-image: url('image/halkmarket/slider/choice-item-1.jpg');">
                    </div>
                    </a>
                    
                    <div class="choice__item-star">
                        <div class="rating home__rating">                            
                                {% for i in 1..5 %}
                                {% if rating < i %}
                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                {% else %}
                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                {% endif %}
                                {% endfor %} 
                                <a class="rating__rew-num-link" href="#" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ reviews }}13</a>                                
                            
                        </div>
                    </div>
                    <a href="#">
                        <div class="choice__item-title"><h4 class="choice__item-title-text">Холодный чай черный Lipton Лимон 1 л</h4></div>
                    </a>
                    
                    <div class="choice__item-box">
                        <div class="choice__item-box-price">
                            <div class="choice__item-box-old">18.60 TMT</div>
                            <div class="choice__item-box-new">12.00 TMT</div>
                        </div>
                            <button type="button" id="button-cart" data-loading-text="Загрузка..." class="btn btn-primary btn-lg btn-block item__btn">
                            </button>
                    </div>
                </div> 

                <div class="choice__item">
                    <a href="#">
                        <div class="choice__item-img" style="background-image: url('image/halkmarket/slider/choice-item-1.jpg');">
                    </div>
                    </a>
                    
                    <div class="choice__item-star">
                        <div class="rating home__rating">                            
                                {% for i in 1..5 %}
                                {% if rating < i %}
                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                {% else %}
                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                {% endif %}
                                {% endfor %} 
                                <a class="rating__rew-num-link" href="#" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ reviews }}13</a>                                
                            
                        </div>
                    </div>
                    <a href="#">
                        <div class="choice__item-title"><h4 class="choice__item-title-text">Холодный чай черный Lipton Лимон 1 л</h4></div>
                    </a>
                    
                    <div class="choice__item-box">
                        <div class="choice__item-box-price">
                            <div class="choice__item-box-old">18.60 TMT</div>
                            <div class="choice__item-box-new">12.00 TMT</div>
                        </div>
                            <button type="button" id="button-cart" data-loading-text="Загрузка..." class="btn btn-primary btn-lg btn-block item__btn">
                            </button>
                    </div>
                </div> 

                <div class="choice__item">
                    <a href="#">
                        <div class="choice__item-img" style="background-image: url('image/halkmarket/slider/choice-item-1.jpg');">
                    </div>
                    </a>
                    
                    <div class="choice__item-star">
                        <div class="rating home__rating">                            
                                {% for i in 1..5 %}
                                {% if rating < i %}
                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                {% else %}
                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                {% endif %}
                                {% endfor %} 
                                <a class="rating__rew-num-link" href="#" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ reviews }}13</a>                                
                            
                        </div>
                    </div>
                    <a href="#">
                        <div class="choice__item-title"><h4 class="choice__item-title-text">Холодный чай черный Lipton Лимон 1 л</h4></div>
                    </a>
                    
                    <div class="choice__item-box">
                        <div class="choice__item-box-price">
                            <div class="choice__item-box-old">18.60 TMT</div>
                            <div class="choice__item-box-new">12.00 TMT</div>
                        </div>
                            <button type="button" id="button-cart" data-loading-text="Загрузка..." class="btn btn-primary btn-lg btn-block item__btn">
                            </button>
                    </div>
                </div> 

                <div class="choice__item">
                    <a href="#">
                        <div class="choice__item-img" style="background-image: url('image/halkmarket/slider/choice-item-1.jpg');">
                    </div>
                    </a>
                    
                    <div class="choice__item-star">
                        <div class="rating home__rating">                            
                                {% for i in 1..5 %}
                                {% if rating < i %}
                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                {% else %}
                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                {% endif %}
                                {% endfor %} 
                                <a class="rating__rew-num-link" href="#" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ reviews }}13</a>                                
                            
                        </div>
                    </div>
                    <a href="#">
                        <div class="choice__item-title"><h4 class="choice__item-title-text">Холодный чай черный Lipton Лимон 1 л</h4></div>
                    </a>
                    
                    <div class="choice__item-box">
                        <div class="choice__item-box-price">
                            <div class="choice__item-box-old">18.60 TMT</div>
                            <div class="choice__item-box-new">12.00 TMT</div>
                        </div>
                            <button type="button" id="button-cart" data-loading-text="Загрузка..." class="btn btn-primary btn-lg btn-block item__btn">
                            </button>
                    </div>
                </div> 

                <div class="choice__item">
                    <a href="#">
                        <div class="choice__item-img" style="background-image: url('image/halkmarket/slider/choice-item-1.jpg');">
                    </div>
                    </a>
                    
                    <div class="choice__item-star">
                        <div class="rating home__rating">                            
                                {% for i in 1..5 %}
                                {% if rating < i %}
                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                {% else %}
                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                {% endif %}
                                {% endfor %} 
                                <a class="rating__rew-num-link" href="#" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ reviews }}13</a>                                
                            
                        </div>
                    </div>
                    <a href="#">
                        <div class="choice__item-title"><h4 class="choice__item-title-text">Холодный чай черный Lipton Лимон 1 л</h4></div>
                    </a>
                    
                    <div class="choice__item-box">
                        <div class="choice__item-box-price">
                            <div class="choice__item-box-old">18.60 TMT</div>
                            <div class="choice__item-box-new">12.00 TMT</div>
                        </div>
                            <button type="button" id="button-cart" data-loading-text="Загрузка..." class="btn btn-primary btn-lg btn-block item__btn">
                            </button>
                    </div>
                </div> 

        </div>

        </div>
        
      </div>
    </div>
  </div>

<section class="banner2">
    <div class="container__page-grey banner2__container">
        <div class="container">
            <a class="banner2__box" href="#">
                <div class="banner2__box-item banner2__item">
                    <h4 class="banner2__box-item-title1">Баннер для рекламы</h4>
                    <h4 class="banner2__box-item-title2">Баннер для рекламы</h4>
                </div>
            </a>
        </div>
    </div>
</section>


<div class="benefit">
    <div class="container benefit__container">
      <div class="benefit__wrapper">
        <div class="benefit__info-box">
          <h4 class="benefit__info-box-title">Самое выгодное сегодня</h4>
          <a class="benefit__info-box-link" href="#">Показать все</a>
          <div class="benefit__info-box-img"><img src="/image/halkmarket/slider/benefit-icon.png" alt=""></div>
        </div>
        <div class="benefit__slider-inner">

            <div class="benefit__slider">
  
                <div class="benefit__item">
                    <a href="#">
                        <div class="benefit__item-img" style="background-image: url('image/halkmarket/slider/benefit-item-1.jpg');">
                    </div>
                    </a>
                    
                    <div class="benefit__item-star">
                        <div class="rating home__rating">                            
                                {% for i in 1..5 %}
                                {% if rating < i %}
                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                {% else %}
                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                {% endif %}
                                {% endfor %} 
                                <a class="rating__rew-num-link" href="#" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ reviews }}13</a>                                
                            
                        </div>
                    </div>
                    <a href="#">
                        <div class="benefit__item-title"><h4 class="benefit__item-title-text">Холодный чай черный Lipton Лимон 1 л</h4></div>
                    </a>
                    
                    <div class="benefit__item-box">
                        <div class="benefit__item-box-price">
                            <div class="benefit__item-box-old">18.60 TMT</div>
                            <div class="benefit__item-box-new">12.00 TMT</div>
                        </div>
                            <button type="button" id="button-cart" data-loading-text="Загрузка..." class="btn btn-primary btn-lg btn-block item__btn">
                            </button>
                    </div>
                </div>  

                <div class="benefit__item">
                    <a href="#">
                        <div class="benefit__item-img" style="background-image: url('image/halkmarket/slider/benefit-item-1.jpg');">
                    </div>
                    </a>
                    
                    <div class="benefit__item-star">
                        <div class="rating home__rating">                            
                                {% for i in 1..5 %}
                                {% if rating < i %}
                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                {% else %}
                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                {% endif %}
                                {% endfor %} 
                                <a class="rating__rew-num-link" href="#" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ reviews }}13</a>                                
                            
                        </div>
                    </div>
                    <a href="#">
                        <div class="benefit__item-title"><h4 class="benefit__item-title-text">Холодный чай черный Lipton Лимон 1 л</h4></div>
                    </a>
                    
                    <div class="benefit__item-box">
                        <div class="benefit__item-box-price">
                            <div class="benefit__item-box-old">18.60 TMT</div>
                            <div class="benefit__item-box-new">12.00 TMT</div>
                        </div>
                            <button type="button" id="button-cart" data-loading-text="Загрузка..." class="btn btn-primary btn-lg btn-block item__btn">
                            </button>
                    </div>
                </div> 

                <div class="benefit__item">
                    <a href="#">
                        <div class="benefit__item-img" style="background-image: url('image/halkmarket/slider/benefit-item-1.jpg');">
                    </div>
                    </a>
                    
                    <div class="benefit__item-star">
                        <div class="rating home__rating">                            
                                {% for i in 1..5 %}
                                {% if rating < i %}
                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                {% else %}
                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                {% endif %}
                                {% endfor %} 
                                <a class="rating__rew-num-link" href="#" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ reviews }}13</a>                                
                            
                        </div>
                    </div>
                    <a href="#">
                        <div class="benefit__item-title"><h4 class="benefit__item-title-text">Холодный чай черный Lipton Лимон 1 л</h4></div>
                    </a>
                    
                    <div class="benefit__item-box">
                        <div class="benefit__item-box-price">
                            <div class="benefit__item-box-old">18.60 TMT</div>
                            <div class="benefit__item-box-new">12.00 TMT</div>
                        </div>
                            <button type="button" id="button-cart" data-loading-text="Загрузка..." class="btn btn-primary btn-lg btn-block item__btn">
                            </button>
                    </div>
                </div> 

                <div class="benefit__item">
                    <a href="#">
                        <div class="benefit__item-img" style="background-image: url('image/halkmarket/slider/benefit-item-1.jpg');">
                    </div>
                    </a>
                    
                    <div class="benefit__item-star">
                        <div class="rating home__rating">                            
                                {% for i in 1..5 %}
                                {% if rating < i %}
                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                {% else %}
                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                {% endif %}
                                {% endfor %} 
                                <a class="rating__rew-num-link" href="#" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ reviews }}13</a>                                
                            
                        </div>
                    </div>
                    <a href="#">
                        <div class="benefit__item-title"><h4 class="benefit__item-title-text">Холодный чай черный Lipton Лимон 1 л</h4></div>
                    </a>
                    
                    <div class="benefit__item-box">
                        <div class="benefit__item-box-price">
                            <div class="benefit__item-box-old">18.60 TMT</div>
                            <div class="benefit__item-box-new">12.00 TMT</div>
                        </div>
                            <button type="button" id="button-cart" data-loading-text="Загрузка..." class="btn btn-primary btn-lg btn-block item__btn">
                            </button>
                    </div>
                </div> 

                <div class="benefit__item">
                    <a href="#">
                        <div class="benefit__item-img" style="background-image: url('image/halkmarket/slider/benefit-item-1.jpg');">
                    </div>
                    </a>
                    
                    <div class="benefit__item-star">
                        <div class="rating home__rating">                            
                                {% for i in 1..5 %}
                                {% if rating < i %}
                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                {% else %}
                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                {% endif %}
                                {% endfor %} 
                                <a class="rating__rew-num-link" href="#" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ reviews }}13</a>                                
                            
                        </div>
                    </div>
                    <a href="#">
                        <div class="benefit__item-title"><h4 class="benefit__item-title-text">Холодный чай черный Lipton Лимон 1 л</h4></div>
                    </a>
                    
                    <div class="benefit__item-box">
                        <div class="benefit__item-box-price">
                            <div class="benefit__item-box-old">18.60 TMT</div>
                            <div class="benefit__item-box-new">12.00 TMT</div>
                        </div>
                            <button type="button" id="button-cart" data-loading-text="Загрузка..." class="btn btn-primary btn-lg btn-block item__btn">
                            </button>
                    </div>
                </div> 

                <div class="benefit__item">
                    <a href="#">
                        <div class="benefit__item-img" style="background-image: url('image/halkmarket/slider/benefit-item-1.jpg');">
                    </div>
                    </a>
                    
                    <div class="benefit__item-star">
                        <div class="rating home__rating">                            
                                {% for i in 1..5 %}
                                {% if rating < i %}
                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                {% else %}
                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                {% endif %}
                                {% endfor %} 
                                <a class="rating__rew-num-link" href="#" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ reviews }}13</a>                                
                            
                        </div>
                    </div>
                    <a href="#">
                        <div class="benefit__item-title"><h4 class="benefit__item-title-text">Холодный чай черный Lipton Лимон 1 л</h4></div>
                    </a>
                    
                    <div class="benefit__item-box">
                        <div class="benefit__item-box-price">
                            <div class="benefit__item-box-old">18.60 TMT</div>
                            <div class="benefit__item-box-new">12.00 TMT</div>
                        </div>
                            <button type="button" id="button-cart" data-loading-text="Загрузка..." class="btn btn-primary btn-lg btn-block item__btn">
                            </button>
                    </div>
                </div> 

        </div>

        </div>
        
      </div>
    </div>
  </div>

<script>
    $(function() {
        $('.featured__slider').slick({
            infinite: true,
            slidesToShow: 5,
            slidesToScroll: 2,
            nextArrow: '<button class="slick-arrow slick-next"><img src="images/next.svg" alt=""></button>',           
            responsive: [{
                breakpoint: 1069,
                settings: {
                    slidesToShow: 4,
                }
            }, {
                breakpoint: 908,
                settings: {
                    slidesToShow: 3,
                }
            },
            {
                breakpoint: 747,
                settings: {
                    slidesToShow: 2,
                }
            },            
        ]
        });
    });
</script>
<script>
    $(function() {
        $('.choice__slider').slick({
            infinite: true,
            slidesToShow: 5,
            slidesToScroll: 2,
            nextArrow: '<button class="slick-arrow slick-next"><img src="images/next.svg" alt=""></button>',           
            responsive: [{
                breakpoint: 1069,
                settings: {
                    slidesToShow: 4,
                }
            }, {
                breakpoint: 908,
                settings: {
                    slidesToShow: 3,
                }
            },
            {
                breakpoint: 747,
                settings: {
                    slidesToShow: 2,
                }
            },            
        ]
        });
    });
</script>
<script>
    $(function() {
        $('.benefit__slider').slick({
            infinite: true,
            slidesToShow: 5,
            slidesToScroll: 2,
            nextArrow: '<button class="slick-arrow slick-next"><img src="images/next.svg" alt=""></button>',           
            responsive: [{
                breakpoint: 1069,
                settings: {
                    slidesToShow: 4,
                }
            }, {
                breakpoint: 908,
                settings: {
                    slidesToShow: 3,
                }
            },
            {
                breakpoint: 747,
                settings: {
                    slidesToShow: 2,
                }
            },            
        ]
        });
    });
</script>

{{ footer }}