{{ header }}
<!-- <div id="common-home" class="container"> -->
<!-- <div class="row"> -->

<!-- {{ column_left }} -->
<!-- {% if column_left and column_right %} -->
<!-- {% set class = 'col-sm-6' %} -->
<!-- {% elseif column_left or column_right %} -->
<!-- {% set class = 'col-sm-9' %} -->
<!-- {% else %} -->
<!-- {% set class = 'col-sm-12' %} -->
<!-- {% endif %} -->
<!-- <div id="content" class="{{ class }}">{{ content_top }}{{ content_bottom }}</div>
    {{ column_right }} -->
<!-- </div> -->


<!-- </div> -->

<section class="advantages">
    <div class="container__page-grey">
        <div class="container">
            <div class="advantages__wrapper">

                <div class="advantages__item advantages__item-1">
                    <h4 class="advantages__item-title">И все на каждый день</h4>
                    <p class="advantages__item-text">
                        Выбирайте из 40 000 товаров: у нас есть фрукты и овощи, мясо и рыба, все для дома и товары для животных
                    </p>
                </div>

                <div class="advantages__item advantages__item-2">
                    <h4 class="advantages__item-title">И свежесть и качество</h4>
                    <p class="advantages__item-text">
                        Будьте уверены: мы тщательно следим за свежестью и качеством продуктов на складе и на всех этапах доставки
                    </p>
                </div>

                <div class="advantages__item advantages__item-3">
                    <h4 class="advantages__item-title">И WOW-удобно</h4>
                    <p class="advantages__item-text">
                        Планируйте и экономьте время: оформляйте и получайте заказы где и когда удобно
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>



{{ menu }}
<div class="featured">
    <div class="container">
        <div class="featured__info-wrapper">
            <div class="featured__info-box">
                <h4 class="featured__info-box-title">Наши спецпредложения</h4>
                <a class="featured__info-box-link" href="#">Показать все</a>
                <div class="featured__info-box-img"><img src="/image/halkmarket/slider/feautered-icon.png" alt=""></div>
            </div>
        </div>
        <div class="featured__wrapper">            
            <div class="featured__slider">

              <div class="featured__item">
                  <div class="featured__item-img">
                      <!-- <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a> -->
                      <a href="#"><img src="image/halkmarket/slider/featured-item-1.jpg" alt=""></a>
                  </div>
                  <div class="rating">{% for i in 1..5 %} {% if product.rating < i %}
                       <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> {% endif %} {% endfor %}
                  </div>
                  <h4 class="featured__item-title"><a href="#"><!-- {{ product.name }} -->Холодный чай черный Lipton Лимон 1 л</a></h4>
                  <div class="featured__item-box">
                      <div class="featured__item-box-price">
                          <div class="featured__item-box-old">18.60 TMT</div>
                          <div class="featured__item-box-new">17.00 TMT</div>
                          {% if product.price %}
                          <p class="price"> {% if not product.special %} {{ product.price }} {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %} {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>                                {% endif %} </p>
                          {% endif %}

                      </div>
                      <div class="featured__item-box-cart">
                          <button class="slider__cut-btn" type="button" onclick="cart.add('22','2');"></button>
                      </div>
                  </div>
              </div>

              <div class="featured__item">
                <div class="featured__item-img">
                    <!-- <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a> -->
                    <a href="#"><img src="image/halkmarket/slider/featured-item-1.jpg" alt=""></a>
                </div>
                <div class="rating">{% for i in 1..5 %} {% if product.rating < i %}
                     <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> {% endif %} {% endfor %}
                </div>
                <h4 class="featured__item-title"><a href="#"><!-- {{ product.name }} -->Холодный чай черный Lipton Лимон 1 л</a></h4>
                <div class="featured__item-box">
                    <div class="featured__item-box-price">
                        <div class="featured__item-box-old">18.60 TMT</div>
                        <div class="featured__item-box-new">17.00 TMT</div>
                        {% if product.price %}
                        <p class="price"> {% if not product.special %} {{ product.price }} {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %} {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>                                {% endif %} </p>
                        {% endif %}

                    </div>
                    <div class="featured__item-box-cart">
                        <button class="slider__cut-btn" type="button" onclick="cart.add('22','2');"></button>
                    </div>
                </div>
            </div>

            <div class="featured__item">
                <div class="featured__item-img">
                    <!-- <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a> -->
                    <a href="#"><img src="image/halkmarket/slider/featured-item-1.jpg" alt=""></a>
                </div>
                <div class="rating">{% for i in 1..5 %} {% if product.rating < i %}
                     <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> {% endif %} {% endfor %}
                </div>
                <h4 class="featured__item-title"><a href="#"><!-- {{ product.name }} -->Холодный чай черный Lipton Лимон 1 л</a></h4>
                <div class="featured__item-box">
                    <div class="featured__item-box-price">
                        <div class="featured__item-box-old">18.60 TMT</div>
                        <div class="featured__item-box-new">17.00 TMT</div>
                        {% if product.price %}
                        <p class="price"> {% if not product.special %} {{ product.price }} {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %} {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>                                {% endif %} </p>
                        {% endif %}

                    </div>
                    <div class="featured__item-box-cart">
                        <button class="slider__cut-btn" type="button" onclick="cart.add('22','2');"></button>
                    </div>
                </div>
            </div>

            <div class="featured__item">
                <div class="featured__item-img">
                    <!-- <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a> -->
                    <a href="#"><img src="image/halkmarket/slider/featured-item-1.jpg" alt=""></a>
                </div>
                <div class="rating">{% for i in 1..5 %} {% if product.rating < i %}
                     <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> {% endif %} {% endfor %}
                </div>
                <h4 class="featured__item-title"><a href="#"><!-- {{ product.name }} -->Холодный чай черный Lipton Лимон 1 л</a></h4>
                <div class="featured__item-box">
                    <div class="featured__item-box-price">
                        <div class="featured__item-box-old">18.60 TMT</div>
                        <div class="featured__item-box-new">17.00 TMT</div>
                        {% if product.price %}
                        <p class="price"> {% if not product.special %} {{ product.price }} {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %} {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>                                {% endif %} </p>
                        {% endif %}

                    </div>
                    <div class="featured__item-box-cart">
                        <button class="slider__cut-btn" type="button" onclick="cart.add('22','2');"></button>
                    </div>
                </div>
            </div>

            <div class="featured__item">
                <div class="featured__item-img">
                    <!-- <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a> -->
                    <a href="#"><img src="image/halkmarket/slider/featured-item-1.jpg" alt=""></a>
                </div>
                <div class="rating">{% for i in 1..5 %} {% if product.rating < i %}
                     <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> {% endif %} {% endfor %}
                </div>
                <h4 class="featured__item-title"><a href="#"><!-- {{ product.name }} -->Холодный чай черный Lipton Лимон 1 л</a></h4>
                <div class="featured__item-box">
                    <div class="featured__item-box-price">
                        <div class="featured__item-box-old">18.60 TMT</div>
                        <div class="featured__item-box-new">17.00 TMT</div>
                        {% if product.price %}
                        <p class="price"> {% if not product.special %} {{ product.price }} {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %} {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>                                {% endif %} </p>
                        {% endif %}

                    </div>
                    <div class="featured__item-box-cart">
                        <button class="slider__cut-btn" type="button" onclick="cart.add('22','2');"></button>
                    </div>
                </div>
            </div>

            <div class="featured__item">
                <div class="featured__item-img">
                    <!-- <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a> -->
                    <a href="#"><img src="image/halkmarket/slider/featured-item-1.jpg" alt=""></a>
                </div>
                <div class="rating">{% for i in 1..5 %} {% if product.rating < i %}
                     <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> {% endif %} {% endfor %}
                </div>
                <h4 class="featured__item-title"><a href="#"><!-- {{ product.name }} -->Холодный чай черный Lipton Лимон 1 л</a></h4>
                <div class="featured__item-box">
                    <div class="featured__item-box-price">
                        <div class="featured__item-box-old">18.60 TMT</div>
                        <div class="featured__item-box-new">17.00 TMT</div>
                        {% if product.price %}
                        <p class="price"> {% if not product.special %} {{ product.price }} {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %} {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>                                {% endif %} </p>
                        {% endif %}

                    </div>
                    <div class="featured__item-box-cart">
                        <button class="slider__cut-btn" type="button" onclick="cart.add('22','2');"></button>
                    </div>
                </div>
            </div>

            <div class="featured__item">
                <div class="featured__item-img">
                    <!-- <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a> -->
                    <a href="#"><img src="image/halkmarket/slider/featured-item-1.jpg" alt=""></a>
                </div>
                <div class="rating">{% for i in 1..5 %} {% if product.rating < i %}
                     <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> {% endif %} {% endfor %}
                </div>
                <h4 class="featured__item-title"><a href="#"><!-- {{ product.name }} -->Холодный чай черный Lipton Лимон 1 л</a></h4>
                <div class="featured__item-box">
                    <div class="featured__item-box-price">
                        <div class="featured__item-box-old">18.60 TMT</div>
                        <div class="featured__item-box-new">17.00 TMT</div>
                        {% if product.price %}
                        <p class="price"> {% if not product.special %} {{ product.price }} {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %} {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>                                {% endif %} </p>
                        {% endif %}

                    </div>
                    <div class="featured__item-box-cart">
                        <button class="slider__cut-btn" type="button" onclick="cart.add('22','2');"></button>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>
</div>

<section class="banner">
    <div class="container">
        <div class="banner__wrapper">
            <a class="banner__box" href="#">
                <div class="banner__box-item banner__item">
                    <h4 class="banner__box-item-title1">Баннер для рекламы</h4>
                    <h4 class="banner__box-item-title2">Баннер для рекламы</h4>
                </div>
            </a>                
        </div>
    </div>
</section>



<script>
    $(function () {
     $('.featured__slider').slick({
        infinite: true,
        slidesToShow: 5,
        slidesToScroll: 5,
        /* arrows: false */  
        responsive: [
	    {
	      breakpoint: 768,
	      settings: {
	        slidesToShow: 2,
	      }
	    },
	    {
	      breakpoint: 480,
	      settings: {
	        slidesToShow: 1,
	      }
	    }
    ]    
     });   
  });
  </script>

{{ footer }}