{% if languages|length > 1 %}
<div class="pull-left">
  <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-language" class="login__language-form">
      {% for language in languages %}
      {% if language.code == code %} 
      {% endif %}
      {% endfor %}
        {% for language in languages %}
        <!-- <li class="language__items"> -->
          <button class="btn btn-link btn-block language-select language-login__btn language-select__btn" type="button" name="{{ language.code }}">
            <!-- <img src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}" /> -->
            <!--  {{ language.name }} -->
          </button>
        <!-- </li> -->
        {% endfor %}
    <input type="hidden" name="code" value="" />
    <input type="hidden" name="redirect" value="{{ redirect }}" />
  </form>
</div>
{% endif %}




