{{ header }}

<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="catalog/view/theme/default/stylesheet/global.css" rel="stylesheet">
<link href="catalog/view/theme/default/stylesheet/fonts.css" rel="stylesheet">
{% for link in links %}
  <link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
  {{ analytic }}
{% endfor %}
{% for script in scripts %}
  <script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
{% for script in scripts %}
  <script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>

<div id="common-success" class="container">
  <ul class="breadcrumb breadcrumb__list">
    {% for key, breadcrumb in breadcrumbs %}
      {% if key + 1 < breadcrumbs|length %}
        <li class="breadcrumb__item breadcrumb__item-hover"><a class="breadcrumb__link" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% else %}
        <li class="breadcrumb__item">{{ breadcrumb.text }}</li>
      {% endif %}
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1 class="success__title">{{ success_title }}</h1>
      <p class="success__text">{{ success_text }}</p>
      <div class="success__img-wrapper">
        <div class="success__img-box"></div>
      </div>
{#      {{ text_message }}#}
      <div class="button__continue-box">
        <div class="buttons">
          <div class="pull-right button__btn-box">
            <a href="{{ continue }}" class="btn btn-primary">{{ success_btn_continue }}</a>
          </div>
        </div>
      </div>

      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}