<div class="bestsellers">
    <div class="container">
        <div class="bestsellers__container">
            <div class="bestsellers__wrapper">

                <h4 class="bestsellers__info-box-title">{{ heading_title }}</h4>
                <div class="bestsellers__slider-inner">

                    <div class="bestsellers__slider">
                        {% for product in products %}
                            <div class="bestsellers__item">

                                <div class="item__label-special">
                                    <div class="item__label-special-box">
                                        {#              <svg xmlns="http://www.w3.org/2000/svg" class="special__icon">#}
                                        {#                <use xlink:href="/img/icon/sprite.svg#LabelSpecial"></use>#}
                                        {#              </svg>#}
                                        <p class="item__label-text">10%</p>
                                    </div>
                                </div>

                                <div class="bestsellers__item-img">
                                    <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
                                </div>
                                </a>

                                <div class="bestsellers__item-star">
                                    <div class="rating home__rating">
                                        {% for i in 1..5 %}
                                            {% if rating < i %}
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                            {% else %}
                                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                            {% endif %}
                                        {% endfor %}
                                        <a class="rating__rew-num-link" href="#" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ reviews }}13</a>

                                    </div>
                                </div>
                                <a href="#">
                                    <div class="bestsellers__item-title"> <h4 >
                                            <a class="bestsellers__item-title-text" href="{{ product.href }}">{{ product.name }}</a>
                                        </h4></div>
                                </a>

                                <div class="bestsellers__item-box">
                                    <div class="price bestsellers__item-box-price">
                                        <span class="item__wrapper-box-text">цена за шт</span>
                                        {% if not product.special %}
                                            {{ product.price }}
                                            {% else %}
                                            <span class="price-old bestsellers__item-box-old">{{ product.price }}</span>
                                            <span class="price-new bestsellers__item-box-new">{{ product.special }}</span>
                                        {% endif %}
                                    </div>
                                    <button class="cart__add-btn" type="button" onclick="cart.add('{{ product.product_id }}');">
{#                                        <i class="fa fa-shopping-cart-black"></i>#}
                                        <svg xmlns="http://www.w3.org/2000/svg" class="cart__icon-item">
                                            <use xlink:href="/img/icon/sprite.svg#CartIcon"></use>
                                        </svg>
                                    </button>
                                </div>
                                <div class="favorit__box">
                                    <button class="favorit__box-btn" type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');">
{#                                        <i class="fa fa-heart"></i>#}
                                        <svg xmlns="http://www.w3.org/2000/svg" class="heart__icon">
                                            <use xlink:href="/img/icon/sprite.svg#Heart"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('.bestsellers__slider').slick({
            infinite: true,
            slidesToShow: 6,
            slidesToScroll: 1,
            swipeToSlide: true,
            // touchThreshold: 10,
            nextArrow: '<button class="slick-arrow slick-next"><img src="images/next.svg" alt=""></button>',
            responsive: [{
                breakpoint: 1400,
                settings: {
                    autoplay: true,
                    autoplaySpeed: 2000,
                }
                },
                {
                    breakpoint: 1178,
                    settings: {
                        slidesToShow: 5,
                    }
                },
                {
                    breakpoint: 950,
                    settings: {
                        slidesToShow: 4,
                    }
                },
                {
                    breakpoint: 700,
                    settings: {
                        slidesToShow: 3,
                    }
                },
                {
                    breakpoint: 500,
                    settings: {
                        slidesToShow: 2,
                    }
                }

            ]
        });
    });
</script>
