<div class="panel panel-default aside__filter filteraccordion">
  <div class="contentFilter">
      <div class="aside__filter-title-inner">
        <div class="panel-heading aside__filter-title-box">{{ heading_title }}</div>
      </div>
  </div>
      <div class="list-group aside__filter-content"> 
        {% for filter_group in filter_groups %} <!-- <a class="list-group-item aside__filter-title">{{ filter_group.name }}</a> -->
        <div class="list-group-item">
          <div id="filter-group{{ filter_group.filter_group_id }}">{% for filter in filter_group.filter %}
            <div class="checkbox">
              <label class="label__keep">
                {% if filter.filter_id in filter_category %}
                <input class="input__keep" type="checkbox" name="filter[]" value="{{ filter.filter_id }}" checked="checked"/>
                <span class="input__keep-style"></span>
                {{ filter.name }}
                {% else %}
                <input class="input__keep" type="checkbox" name="filter[]" value="{{ filter.filter_id }}"/>
                <span class="input__keep-style"></span>
                <p class="filter__name-checkbox">{{ filter.name }}</p>
                {% endif %}
              </label>
            </div>
            {% endfor %}</div>
        </div>
        {% endfor %}
      </div>
        <div class="panel-footer text-right">
            <button type="button" id="button-filter" class="btn btn-primary">{{ button_filter }}</button>
        </div>
  
  
</div>
<script type="text/javascript">
$('#button-filter').on('click', function() {
	filter = [];

	$('input[name^=\'filter\']:checked').each(function(element) {
		filter.push(this.value);
	});

	location = '{{ action }}&filter=' + filter.join(',');
});
</script> 

<script>
  const filteraccordion = document.getElementsByClassName('contentFilter');
   for(i = 0; i < filteraccordion.length; i++){
    filteraccordion[i].addEventListener('click', function(){
         this.classList.toggle('active')
      })
   }
</script>
