<!-- Подключение swiper слайдера -->

<div class="swiper__inner">
    <div class="container__page">
        <div class="swiper-viewport">
            <div class="swiper__box">
                <div id="slideshow{{ module }}" class="swiper-container">
                    <div class="swiper-wrapper"> {% for banner in banners %}
                        <div class="swiper-slide text-center">
                            <!-- <div class="swiper-slide-block swiper-slide__left-block">
                            </div> -->
                            {% if banner.link %}
                            <a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive slider__img-responsive"/></a>
                            {% else %}
                            <a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive slider__img-responsive"/></a>
                            {% endif %}
                            <!-- <div class="swiper-slide-block swiper-slide__right-block">
                            </div> -->                             
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="swiper-pagination slideshow{{ module }}"></div>
            <div class="swiper-pager">
                <div class="right__btn slider__btn">
                    <span class="slider__btn-span slider__btn-span-right"></span>
                </div>
                <div class="left__btn slider__btn">
                    <span class="slider__btn-span slider__btn-span-left"></span>
                </div>
            </div>
        </div>

    </div>

</div>

<script type="text/javascript">
    $('#slideshow{{ module }}').swiper({
        mode: 'horizontal',
        slidesPerView: 3,
        spaceBetween: 30,
        centeredSlides: true,
        pagination: '.slideshow{{ module }}',
        paginationClickable: true,
        nextButton: '.right__btn',
        prevButton: '.left__btn',
        spaceBetween: 30,
        /* autoplay: 2500, */
        autoplayDisableOnInteraction: true,
        loop: true,
        breakpoints: {
            1000: {
                /* spaceBetween: 50, */
            }
        }
    });
</script>